.card {
    background-color: #1C1C21;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 24px;
    width: 800px;
}

.text_box {
    display: flex;
    justify-content: space-between;
}

.info_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.done {
    color: #00CCCC;
}

.icons_box {
    display: flex;
    justify-content: space-between;
}

.imgs_list {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

.img {
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #4C4CFF;
    height: 64px;
    margin-right: -16px;
    position: relative;
    width: 64px;  
}

.price {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 8px;
}

.link {
    background: inherit;
    color: inherit;
    text-decoration: none;
  }