.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 180px;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
    transition: .1s ease-in-out;
}

.link:hover {
    opacity: .7;
}