.card {
    background-color: #1C1C21;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    min-height: 214px;
    padding: 24px;
    width: 96%;
}

.text_box {
    display: flex;
    justify-content: space-between;
}