.card {
    background-color: #1C1C21;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 24px;
    width: 570px;
    transition: .2s ease-in-out;
}

.card:hover {
    box-shadow: 0px 0px 16px rgba(51, 51, 255, 0.1),
        0px 0px 8px rgba(51, 51, 255, 0.1),
        0px 4px 32px rgba(51, 51, 255, 0.1);
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.1),
        0px 0px 8px rgba(51, 51, 255, 0.25),
        0px 4px 32px rgba(51, 51, 255, 0.5);
}

.text_box {
    display: flex;
    justify-content: space-between;
}

.icons_box {
    display: flex;
    justify-content: space-between;
}

.imgs_list {
    display: flex;
    margin: 0;
    padding: 0;
}

.img {
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #4C4CFF;
    height: 64px;
    margin-right: -16px;
    position: relative;
    width: 64px;  
}

.price {
    align-items: center;
    align-self: center;
    display: flex;
    gap: 8px;
}

.link {
    background: inherit;
    color: inherit;
    text-decoration: none;
}

