.item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: .2s ease-in-out;
    width: 272px;
}

.item:hover {
    opacity: .7;
}


.counter {
    position: fixed;
}

.price {
    display: flex;
    flex-direction: row;
}

.text {
    text-align: center;
}

.link {
    background: inherit;
    color: inherit;
    text-decoration: none;
  }