.container {
    align-items: center;
    background-color: #1c1c21;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 720px;
    min-height: 539px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 20;
}

.close_btn {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 60px;
    transition: .2s ease-in-out;
}

.close_btn:hover {
    opacity: .7;
}