.header {
    background-color: #1C1C21;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 40px 40px 0;
    max-width: 96%;
    min-height: 88px;
}

.logo {
    align-self: center;
    display: flex;
    position: absolute;
}

.navigation {
    align-self: center;
    min-width: 66.67%;
}

@media (max-width: 1600px) {
    .navigation {
        min-width: 95%;
    }
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.link:hover {
    opacity: .7;
}

.link_active {
    text-decoration: none;
    color: #F2F2F3;
}

.link_active:hover {
    opacity: 1;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item:last-child {
    margin-left: auto;
}